// Copyright 2011 Intergraph Corporation
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

#pragma code_page(1252)

#include <winnt.h>
#include <winuser.h>
#include <winver.h>
#include "PostGIS.rh"

LANGUAGE LANG_NEUTRAL, 0

REG_MAIN RT_REGISTRY "PostGIS.rgs"
TLB_GDO RT_TYPELIB "GDO.tlb"
TLB_ExtendedPS RT_TYPELIB "ExtendedPS.tlb"
TLB_LiteralConversionExtension RT_TYPELIB "LiteralConversionExtension.tlb"
TLB_PAFM RT_TYPELIB "PAFM.tlb"

COORDSYSTEMS CSTABLE "Common/csres.bin"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION 2,1,0,6
    PRODUCTVERSION 2,1,0,6
    FILEFLAGSMASK 0x3fL
#ifdef DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L
#endif
    FILEOS VOS_NT
    FILETYPE VFT_APP
    FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "Full version\0"
            VALUE "CompanyName", "Pavel Krejcir\0"
            VALUE "FileDescription", "PostGIS GDO OSS\0"
            VALUE "FileVersion", "2,01,00,06\0"
            VALUE "InternalName", "PostGISGDO\0"
            VALUE "LegalCopyright", "Copyright (C) Pavel Krejcir 2016\0"
            VALUE "OriginalFilename", "PostGISGDO.dll\0"
            VALUE "ProductName", "PostGIS GDO\0"
            VALUE "ProductVersion", "2,01,00,06\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x000, 1200
    END
END

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
BEGIN
    IDE_GDOERROR "PostGIS GDO Error"
    IDE_INVALIDCONNPARAMS "Connection parameters are invalid"
    IDE_INSUFFPRIVILEGES "The user has insufficient privileges to work with this database"
    IDE_NOTPOSTGIS "The database is not a PostGIS (spatially enabled) database"
    IDE_FLDMODONIDX "Fields on existing index cannot be modified"
    IDE_GEOMCOLCHANGE "Geometry column type cannot be changed"
    IDE_NOTINDEXFLDPROP "Index fields do not expose this property"
    IDE_GEOMPROPONLY "This property is exposed by geometry fields only"
    IDE_NOTGEOMLDPROP "Geometry fields do not expose this property"
    IDE_INDEXCREATED "Cannot modify existing index"
    IDE_CANNOTADDPRIMARYKEY "Primary key cannot be added to an existing table"
    IDE_CANNOTDELPRIMARYKEY "Primary key cannot be deleted"
    IDE_RASTERNOTSUPPORTED "PostGIS GDO does not support raster images in this configuration"
    IDE_TEXTNOTSUPPORTED "PostGIS GDO does not support text geometry in this configuration"
    IDE_INVALIDGEOMETRYTYPE "The geometry type is not valid for the geometry field"
    IDE_UNKNOWNCS "Unknown coordinate system"
END
